<!-- Login module start form here  -->

<div class="login-page-container">
  <h1 class="heading-1">Just Watch !</h1>
  <div class="login-page-handler">
    <div class="login-page-bg">
      <div class="input-handler">
        <div class="input1-handler">
          <h1 class="login-heading">Login Page</h1>
          <label for="input1">Username</label>
          <input
            type="text"
            id="input1"
            placeholder="Enter your username"
            [(ngModel)]="username"
          />
        </div>

        <div class="input2-handler">
          <label for="input2">Password</label>
          <input
            type="password"
            id="input2"
            placeholder="Enter your password"
            [(ngModel)]="password"
          />
        </div>
        <div class="btn-handler">
          <div class="error">{{ errorMsg }}</div>
          <button class="btn-1" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
