.home-control {
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h1 {
  font-size: 2rem;
  font-family: sans-serif;
  color: #087719;
}

h2 {
  font-style: 1.5rem;
  font-family: sans-serif;
  color: #fff;
}
